<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Gestion de Reportes</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="portada.htm">INICIO</a>
                    </li>
                    <li class="active">Gestion de Reportes</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-block" onclick="window.location = '@Url.Action("GraficoTorta", "Test")' " style=" background-color:yellowgreen; color:white;height: 33px;padding: 5px;">Grafico de Torta</button>
            <button class="btn btn-block" onclick="window.location = '@Url.Action("GraficoBarra", "Test")' " style=" background-color:yellowgreen; color:white;height: 33px;padding: 5px;">Grafico de Barra</button>
        </div>
        <div class="col-md-4"></div>

    </div>
</section>
