@model  BussinesEntities.ConjuntoDisponibildiadEntity


<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Registrar ocupación</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="home">INICIO</a>
                    </li>
                    <li class="active">Registrar ocupación</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">

        @if (Model.mensaje != null && Model.mensaje != "")
        {
            <div id="alert_mensaje">
                <div class="alert alert-@Model.codigo" role="alert">@Model.mensaje</div>
            </div>
        }


        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-md-4">


                    <div>

                        <button id="btnAddBook" type="button" class="btn" style="color:white; background-color:yellowgreen; margin-bottom:20px; padding:10px; width:60%;" onclick="addRow();" value="Agregar Ocupación">
                            <i class="fa fa-plus">
                                Agregar
                            </i>
                        </button>

                    </div>

                </div>
                <div class="col-md-4">








                </div>
                <div class="col-md-4"></div>
            </div>

            <div id="color">
                <div id="readNote">
                    <div class="item"></div>
                </div>
            </div>

            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align:center;">
                <button class="btn btn-green" id="btn_registrar" style="color:white; background-color:yellowgreen; padding:10px; display:none" type="submit">Registrar Ocupación <i class="fa fa-calendar"></i></button>
            </div>
            <div class="col-md-4">

            </div>


        }



        <script language="javascript" type="text/javascript">


            $(document).ready(function () {

                $('.date').mask('00-00-0000');

                $('.fecha').datetimepicker({
                    locale: 'es',
                    format: 'DD-MM-YYYY'
                });

            });

            function addRow() {



                var htmlTiene = $("#color").html();
                $("#alert_mensaje").html("");


                if (htmlTiene != "") {
                    $('#btn_registrar').show();
                }

                var index = $("#color").children("div").length;




                @{


            List<DAL.CasaDptoOCabana> list = ViewBag.Casas;
            String idCasa = "";
            String nombreCasa="";

            foreach (var item in list)
            {
                idCasa = idCasa + "," + item.idCasaDptoOCabana.ToString();
                nombreCasa = nombreCasa + "," + item.nombreCasaDptoOCabana.ToString();
            };






        };



                var x = String('@idCasa');
                var y = String('@nombreCasa');

                var idCasas = x.split(',');
                var nombreCasas = y.split(',');


                var x = "<select class='form-control' name='idCasa_" + index + "'>";

                for (var i = 0; i < idCasas.length; i++) {

                    x = x + "<option value='" + idCasas[i] + "'>" + nombreCasas[i] + "</option>";

                }

                x = x + " </select>";






                var div = "<div class='row tiene' id='index_" + index + "'> " +
                                  " <div class='col-md-3'>" +

    x

                                        +

                                  " </div>  " +
                                 "  <div class='col-md-3'>  " +
                                        "   <div class='input-group'> " +
                                               "<input name='FechaDesde_" + index + "' type='text'  class='form-control  date fecha' value=''>" +
                                               "<span class='input-group-addon'> <i class='fa fa-calendar'></i> </span>" +
                                          " </div>  <br/>" +
                                   "</div>" +
                                    "<div class='col-md-3'>" +
                                      "   <div class='input-group'> " +
                                               "<input name='FechaHasta_" + index + "' type='text'  class='form-control date fecha' value=''>" +
                                               "<span class='input-group-addon'> <i class='fa fa-calendar'></i> </span>" +
                                          " </div>  <br/>" +
                                    "</div>" +

                                 "<div class='col-md-3'>" +
                                 "  <button id='btnAddBook' class='btn btn-red btn-block' style='color:white; background-color:rgba(177, 13, 20, 1); '  onclick='removeRow(" + index + ");'><i class='fa fa-trash-o'></i> Eliminar </button>" +
                                    "</div> <br/>" +
                                "</div>"

                var newRow = div;



                $("#color").append(newRow);


                $('.fecha').datetimepicker({
                    locale: 'es',
                    format: 'DD-MM-YYYY'
                });


            }

            function removeRow(id) {
                var controlToBeRemoved = "#index_" + id;
                $(controlToBeRemoved).remove();
                var htmlTiene = $(".tiene").html();

                if (htmlTiene == null) {
                    $('#btn_registrar').hide();
                }
            }

















        </script>



    </div>
</section>








