@model  BussinesEntities.ConjuntoDisponibildiadEntity


<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>DISPONIBILIDAD</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">INICIO</a>
                    </li>
                    <li class="active">DISPONIBILIDAD</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mainContent clearfix userProfile">
    <div class="container">

        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true)




            <div class="panel panel-white">

                <div class="panel-body">

                    <div id="color">


                        <div>
                            <button id="btnAddBook" type="button" class="btn btn-green" onclick="addRow();" value="Agregar Ocupación">
                                <i class="fa fa-plus">
                                    Agregar
                                </i>
                            </button>
                            <br />
                        </div>

                        <br />

                    </div>

                    <!-- end: DATE/TIME PICKER PANEL -->











                    <div class="editor-label">



                    </div>
                    <div class="editor-field">




                    </div>



                    <div class="col-lg-offset-5">
                        <button class="btn btn-green" type="submit">Registrar Ocupación <i class="fa fa-calendar"></i></button>
                    </div>















                    <div id="readNote">

                        <div class="noteWrap col-md-8 col-md-offset-2">
                            <div class="panel panel-note">
                                <div class="e-slider owl-carousel owl-theme">

                                    <div class="item">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="text" id="prueba" name="prueba" value="hola" style="display:none" />







                </div>
                @Html.ActionLink("Volver", "Index")
            </div>



        }



        <script language="javascript" type="text/javascript">
            function addRow() {





                var index = $("#color").children("div").length;




                @{


            List<DAL.Habitacion> list = ViewBag.Habitaciones;
            String idHab = "";
            String nombreHab="";

            foreach (var item in list)
            {
                idHab = idHab + "," + item.idHabitacion.ToString();
                nombreHab = nombreHab + "," + item.nombreHabitacion.ToString();
            };






        };



                var x = String('@idHab');
                var y = String('@nombreHab');

                var idHabitaciones = x.split(',');
                var nombreHabitaciones = y.split(',');


                var x = "<select name='idHabitacion_" + index + "'>";

                for (var i = 0; i < idHabitaciones.length; i++) {

                    x = x + "<option value='" + idHabitaciones[i] + "'>" + nombreHabitaciones[i] + "</option>";

                }

                x = x + " </select>";






                var div = "<div class='row' id='index_" + index + "'> " +
                                  " <div class='col-lg-3'>" +

    x

                                        +

                                  " </div> " +
                                 "  <div class='col-lg-3'>  " +
                                        "   <div class='input-group'> " +
                                               "<input name='FechaDesde_" + index + "' type='text' data-date-format='dd-mm-yyyy' data-date-viewmode='years' class='form-control date-picker' value=''>" +
                                               "<span class='input-group-addon'> <i class='fa fa-calendar'></i> </span>" +
                                          " </div>  <br/>" +
                                   "</div>" +
                                    "<div class='col-lg-3'>" +
                                      "   <div class='input-group'> " +
                                               "<input name='FechaHasta_" + index + "' type='text' data-date-format='dd-mm-yyyy' data-date-viewmode='years' class='form-control date-picker' value=''>" +
                                               "<span class='input-group-addon'> <i class='fa fa-calendar'></i> </span>" +
                                          " </div>  <br/>" +
                                    "</div>" +

                                 "<div class='col-lg-3'>" +
                                 "  <button id='btnAddBook' class='btn btn-red' onclick='removeRow(" + index + ");'><i class='fa fa-trash-o'></i> Eliminar</button>" +
                                    "</div>  <br/>" +
                                "</div>"

                var newRow = div;



                $("#color").append(newRow);


                // Coloco este jquery para que me refresque los css y pueda ver el datatimepicker generado en tiempo de ejecución ok.

                jQuery(document).ready(function () {
                    Main.init();
                    SVExamples.init();
                    FormElements.init();
                });


            }

            function removeRow(id) {
                var controlToBeRemoved = "#index_" + id;
                $(controlToBeRemoved).remove();
            }

















        </script>




</div>
</section>

