@model  BussinesEntities.ConjuntoDisponibildiadEntity


<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Registrar ocupación</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="home">INICIO</a>
                    </li>
                    <li class="active">Registrar ocupación</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="mainContent clearfix blogPage singleBlog">
    <div class="container">

     


        <div id="datos_reserva">

            <div class="row">
                <div class="col-xs-12" style="padding-top:10px;">
                    <h4 class="page-header">
                        Detalle de Reserva
                    </h4>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-md-3">

                    <div class="form-group">
                        <label>Fecha Desde</label>
                        <input type="text" class="form-control date" onblur="buscarHabitacionesDisponibles();" id="fecha_desde" placeholder="Fecha Desde">
                    </div>

                </div>


                <div class="col-xs-12 col-md-3">

                    <div class="form-group">
                        <label>Fecha Hasta</label>
                        <input type="text" class="form-control date" onblur="buscarHabitacionesDisponibles();" id="fecha_hasta" placeholder="Fecha Hasta">
                    </div>

                </div>

                <div class="col-xs-12 col-md-3">

                    <div class="form-group">
                        <label>Habitación</label>

                        <select id="habitacion" class="form-control habitaciones-select"></select>

                    </div>

                </div>

                <div class="col-xs-12 col-md-3">

                    <div class="form-group">
                        <label>&nbsp;</label>

                        <button type="button" class="btn btn-success btn-block" style="background-color: rgba(177, 13, 20, 1);" onclick="controlReserva('agregar');" style="padding: 7px;">
                            Agregar
                        </button>


                    </div>

                </div>




            </div>


            <div id="lista_reserva"></div>





        </div>




    </div>
</section>




<script>

    var idnegocio = @ViewBag.IdNegocio

    function buscarHabitacionesDisponibles() {

        var fecha_desde = $("#fecha_desde").val();
        var fecha_hasta = $("#fecha_hasta").val();

        //alert(idnegocio);

        if (fecha_desde != '' && fecha_hasta != '') {
            $(".habitaciones-select").html('<option>Cargando...</option>');
            $.ajax({
                url: "../../Reservas/BuscarHabitacionesDisponibles?fecha_desde=" + fecha_desde + "&fecha_hasta=" + fecha_hasta + "&idNegocio=" + idnegocio
            }).done(function (data) {
                $(".habitaciones-select").html(data);

            });
        }


    }


    function validate_fechaMayorQue(fechaInicial, fechaFinal) {
        valuesStart = fechaInicial.split("-");
        valuesEnd = fechaFinal.split("-");

        // Verificamos que la fecha no sea posterior a la actual
        var dateStart = new Date(valuesStart[2], (valuesStart[1] - 1), valuesStart[0]);
        var dateEnd = new Date(valuesEnd[2], (valuesEnd[1] - 1), valuesEnd[0]);
        if (dateStart > dateEnd) {
            return 0;
        }
        return 1;
    }


    function controlReserva(accion, referencia) {

        var fecha_desde = $("#fecha_desde").val();
        var fecha_hasta = $("#fecha_hasta").val();
        var habitacion = $("#habitacion").val();
        var habitacion_text = $("#habitacion option:selected").text();

        var idPersona = $("#idPersona").val();



        if (fecha_desde == '' || fecha_hasta == '' || habitacion == '') {
            alert("Debe completar los campos: Fecha Desde, Fecha Hasta y Habitación.");
        } else {

            if (idPersona == "") {
                alert("Debe seleccionar un cliente.");
            } else {


                if (!validate_fechaMayorQue(fecha_desde, fecha_hasta)) {
                    alert("La fecha desde no puede ser mayor a la fecha hasta.");
                } else {

                    $.ajax({
                        url: "../../AgregarReserva?fecha_desde=" + fecha_desde + "&fecha_hasta=" + fecha_hasta + "&habitacion=" + habitacion + "&accion=" + accion + "&referencia=" + referencia + "&habitacion_text=" + habitacion_text
                    }).done(function (data) {
                        $("#lista_reserva").html(data);
                    });

                }



            }

        }



        return false;

    };




    $(document).ready(function () {

        $('.date').mask('00-00-0000');

        $('#fecha_desde').datetimepicker({
            locale: 'es',
            format: 'DD-MM-YYYY'
        });

        $('#fecha_hasta').datetimepicker({
            locale: 'es',
            format: 'DD-MM-YYYY'
        });


    })




</script>


 





