<table style="width:100%">
    <tr>
        <td><strong>Nro de documento:</strong> 31746542</td>
        <td><strong>Nombre del pasajero:</strong> Sosa Pablo Daniel</td>
        <td style="text-align:right">
            <button type="button" onclick="seleccionarPasajeroCheckIn()" class="btn btn-link">
                Seleccionar
            </button>
        </td>
    </tr>
</table>

