
<input type="text" class="form-control" value="" id="buscar_cliente" onkeyup="buscar_cliente();" placeholder="Nombre y Apellido">

<div id="lista_clientes"></div>

<div id="lista_clientes_asignados"></div>



