
<script>

    $(document).ready(function () {
        cargar_grafico()
    });



    function cargar_grafico() {

        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var color = Chart.helpers.color;
        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: 'Representa',
                backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
                borderColor: window.chartColors.green,
                borderWidth: 1,
                data: [
                    20,
                    30,
                    40,
                    50,
                    20,
                    30,
                    50
                ]
            }]

        };

        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Nombre del reporte'
                }
            }
        });
    }

</script>



<div id="container" style="width: 100%;">
    <canvas id="canvas"></canvas>
</div>
